- title = local_assigns.fetch(:title, _('Assign labels'))
- content_title = local_assigns.fetch(:content_title, _('Create lists from labels. Issues with that label appear in that list.'))
- show_title = local_assigns.fetch(:show_title, true)
- show_create = local_assigns.fetch(:show_create, true)
- show_footer = local_assigns.fetch(:show_footer, true)
- filter_placeholder = local_assigns.fetch(:filter_placeholder, '搜索')
- show_boards_content = local_assigns.fetch(:show_boards_content, false)
- subject = @project || @group
.dropdown-page-one
  - if show_title
    = dropdown_title(title)
  - if show_boards_content
    .issue-board-dropdown-content
      %p.m-0
        = content_title
  = dropdown_filter(filter_placeholder)
  = dropdown_content
  - if current_board_parent && show_footer
    = dropdown_footer do
      %ul.dropdown-footer-list
        - if can?(current_user, :admin_label, current_board_parent)
          %li
            %a.dropdown-toggle-page{ href: "#" }
              = create_label_title(subject)
        %li
          = link_to labels_path, :"data-is-link" => true do
            - if show_create && can?(current_user, :admin_label, current_board_parent)
              = manage_labels_title(subject)
            - else
              = view_labels_title(subject)
  = dropdown_loading
